{% extends 'base.html.twig' %}

{% block title %}New Hijo{% endblock %}

{% block body %}
    <h1>Create new Hijo</h1>

    {{ include('hijo/_form.html.twig') }}

    <a href="{{ path('app_hijo_index') }}">back to list</a>
{% endblock %}
